.about-us {
    margin-top: 10px;

    h1 {
        text-align: center;
        text-transform: uppercase;
        color: $maincolor;
        font-size: 42px;
        
    }

    h2 {
        text-align: center;
        text-transform: uppercase;
        color: $maincolor;
        margin-top: 20px;
       
    }

    .about-us-wrapper {
        display: flex;
        flex-direction: column;



        .about-desc {
            background: $bgcolor2;
            min-height: 20vh;
            display: block;
            width: 100%;
            margin-top: 20px;
            margin-right: 10px;
            font-size: 24px;
            color:$maintextcolor;
            padding: 10px;
            text-align: center;
            
    
        }

        .about-contact {
            margin-top: 50px;
            text-align: center;
            font-size: 1.2rem;
            text-transform: uppercase;
            color: $maincolor2 ;
            text-shadow: 0px 0px 3px $maincolor2 ;
            
           

            @include breakpoint(ld-min) {
                font-size: 1rem;
            }
        }
    }

    .banner-wrapper {

        min-height: 450px;
        position: relative;
        background: #DD4096;
        border-radius: 5px;
        padding: 10px;
        margin-top: 20px;

        img {
            position: absolute;
            max-height: 400px;
            max-width: 100%;
            right: 5%;
            border-radius: 4px;
            z-index: 1;
            overflow: hidden;
            @include breakpoint(md-min){
                right: 0;
            }
        }

        .banner-text {
            color: $secondtextcolor;
            padding: 10px;
            z-index: 2;
            position: relative;
            margin-right: 20%;

        }
        ul{
            display: flex;
            position: relative;
            width: 100%;
            
            padding-left: 10%;
            z-index: 2;
            font-size: 1rem;
            @include breakpoint(md-min) {
            padding-left: unset;    
            }
            
            li{
             width: 200px;
             height:300px;
             margin: 10px;
             background: $secondtextcolor;
             @include breakpoint(md-min) {
                &:nth-last-child(2n){
                    display: none;
                }    
                }

             
            }
        }
    }
}