*{
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: 'Baloo', cursive;
    font-weight: 300;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
}
section{
    &:not(:first-child){
        margin-top: 20px;
    }
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
p{
    font-family: 'Inder', sans-serif;
    font-size: 14px;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    // max-width: 1170px;
    background: 
    linear-gradient(rgba(5, 610, 255, 0.4), rgba(135, 60, 255, 0.0) 80%),
    linear-gradient(-45deg, rgba(120, 155, 255, 0.9) 25%, rgba(255, 160, 65, 0.9) 76%);
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    
}
.collapse_btn {
    color: crimson;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 10px;
    border-radius: 4px;
    border: 2px solid crimson;
    text-shadow: #000 1px 1px 1px;
    letter-spacing: .05em;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        color: #fff;
        background-color: grey;
        transition: color .4s ease-out;
        transition: background-color .4s ease-out;
    }

}