* {
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
    background: #f1f1f1;
    &.no-scroll{
        overflow: hidden;
    }
}

section {
    &:not(:first-child) {
        margin-top: 20px;
    }
}
button{
    font-family: 'Rubik';
    font-weight: 400;
    letter-spacing: 0.05em;
    font-size: 14px;
    text-decoration: none;
    color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    font-weight: 600;
}

p {
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
font-weight: 400;
mix-blend-mode: normal;

}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a { 
    font-family: 'Rubik';
    font-weight: 400;
    letter-spacing: 0.05em;
    font-size: 14px;
    text-decoration: none;
    color: inherit;
    
}

.wrapper {
    background: #f1f1f1;
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    position: relative;


}

.collapse_btn {
    $maincolor:#930000!global;
    color: $maincolor;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 10px;
    border-radius: 4px;
    border: 2px solid $maincolor;
    text-shadow: #000 1px 1px 1px;
    letter-spacing: .05em;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        color: #fff;
        background-color: grey;
        transition: color .4s ease-out;
        transition: background-color .4s ease-out;
    }

}

.common-article {
    position: relative;

    .common-article_wrapper {
        background: #fff;
        box-shadow: 0px 2px 4px rgba(159, 159, 159, 0.25);
        border-radius: 10px;
        transition: box-shadow .4s ease-out;
        border-radius: 4px;
        position: relative;

     
    }

    .collapse_btn {
        color: $maincolor;
        background-color: #fff;
        position: absolute;
        right: 0;
        top: 0;
        padding: 5px 10px;
        border-radius: 4px;
        border: 2px solid $maincolor;
        text-shadow: #000 1px 1px 1px;
        letter-spacing: .05em;
        text-transform: uppercase;
        cursor: pointer;
        display: none;

        &:hover {
            color: #fff;
            background-color: grey;
            transition: color .4s ease-out;
            transition: background-color .4s ease-out;
        }

    }

    h3.common-article_title {
        background: $maincolor;
        border-radius: 10px 10px 0px 0px;
        line-height: 32px;
        text-align: left;
        padding: 12px;
        text-transform: uppercase;
        color: #fff;
        text-shadow: #000 1px 1px 1px;
        letter-spacing: .1em;
        text-transform: uppercase;
        text-align: center;
    }

    h4 {
        margin: 10px 0;
    }

    ul {
        li {
            padding: 5px;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
        }
    }
}

//Underheader!!!!!!!!!!!
.anchor-header{
    display: none;
    min-height: 30px;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
   
    // left: 3%;
    left: 0;
    transition: top 1s;
    width: 100%;
    z-index: 999;
    border: 2px solid $maincolor;
    border-top: none;
    box-shadow: 0 0 10px #000;
    border-radius: 4px;
    top: 0;
    @include breakpoint(xlg-min) {
        left:0;
    width: 100%;
    }

    &.fixed{
        position: fixed;
         top: 50px;
        
    }
    
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 30px;
        li{
            margin: 0 10px;
            @include breakpoint(ld-min) {
               margin: 0 5px;
               font-size: 12px;
               
            }
            @include breakpoint(sm-min) {
                
                font-size: 11px;
                
             }

            a{
                &:hover,
                &:active,
                &:focus{
                    text-decoration: underline;
                }
            }

        }
    }
}
.top-list-block.top-list-casino{
    max-width: 400px;
    min-width: 400px;
    width: 100%;
}