.faq-article {
    position: relative;
    .faq-article_wrapper {
       
        @include blockvisual;
        position: relative;
    }
    .collapse_btn {
        color: $maincolor;
        background-color: $secondtextcolor;
        position: absolute;
        right: 0;
        top: 0;
        padding: 5px 10px;
        border: 2px solid $maincolor;
        text-shadow: #000 1px 1px 1px;
        letter-spacing: .05em;
        text-transform: uppercase;
        cursor: pointer;
        display: none;
    }
    ul {
        padding: 15px;
        @include blockvisual;
        li {
            padding: 5px;
            font-family: $mainfont, sans-serif;
            font-weight: 400;
            color: $maintextcolor;
        }
    }
    ol {
        li {
            list-style-type: disc;
        }
    }
    h3.common-article_title {
        background: linear-gradient(90deg, rgba(161, 84, 242, 0) 0%, $maincolor 0.01%, $maincolor2 100%);
        line-height: 32px;
        text-align: left;
        padding: 12px;
        text-transform: uppercase;
        color: $secondtextcolor;
        text-shadow: #000 1px 1px 1px;
        letter-spacing: .1em;
        text-transform: uppercase;
        text-align: center;
    }
    h4 {
        margin: 10px 0;
    }
}