footer{
    .footer-wrapper{
       
        background: #1F1F1F;
        // height: 200px;
        width: 100%;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
        p{
            color: #fff;
            text-align: center;
        }
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 30px;
            margin-bottom: 20px;
li{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px;
    a{
        &:hover{
            color: $maincolor;
        }
    }

}
        }
        
       
    }
    .footer-text{
        width: 50%;
        margin: 0 auto;
    }
}