footer{
    .footer-wrapper{
       
        background: $bgcolor2;
        width: 100%;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
        p{
            color: $maintextcolor;
            text-align: center;
        }
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 30px;
            margin-bottom: 20px;
li{
    color: $maintextcolor;
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px;
    a{
        font-size: 16px;
        @include breakpoint (md-min){
            font-size: 11px;
        }
        &:hover{
            color: $maincolor;
        }
    }

}
        }
        
       
    }
    .footer-text{
        width: 80%;
        margin: 0 auto;
        
    }
    .footer-mail{
        margin-bottom: 0;
        color: $maincolor2!important;
            
            text-transform: lowercase;
    }
}