.header_news {
    width: 100%;
    max-width: 100vw;
    display: flex;

    @include breakpoint (md-min) {
        flex-direction: column;
    }

    .top-list-block.top-list-casino {
        background: #fff;
        box-shadow: 0px 2px 4px rgba(159, 159, 159, 0.25);
        border-radius: 10px;
        position: relative;
        max-width: 400px;
        min-width: 350px;
        width: 100%;
        max-height: 450px;
        

        @include breakpoint(md-min){
            width: 100%;
            max-width: 100%;
        }



        h3 {
            background: $maincolor;
            border-radius: 10px 10px 0px 0px;
            line-height: 32px;
            text-align: left;
            padding: 12px;
            text-transform: uppercase;
            color: #fff;
            text-shadow: #000 1px 1px 1px;
            letter-spacing: .1em;
            text-transform: uppercase;
            text-align: center;
        }

        ul {
            display: flex;
            flex-direction: column;

            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 9px 0;
                text-transform: uppercase;

                img {
                    width: 45px;
                    height: 45px;
                    margin: 1px 10px;
                    border-radius: 45px;
                }

                .casino-top-title {
                    width: 40%;
                    margin: 0 10px;
                    position: relative;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .casino-top-btn {
                    width: 100%;
                    max-width: 120px;
                    margin-right: 10px;
                    border: 1px solid $maincolor;
                    background: $maincolor;
                    border-radius: 40px;
                    line-height: 28px;
                    padding-top: 3px;
                    text-align: center;
                    text-transform: uppercase;
                    color: #fff;


                    &:hover {
                        background: #fff;
                        color: $maincolor;
                    }
                }


            }
        }
    }

    .header_news-wrapper {
        display: flex;
        margin-right: 20px;
        width: 100%;

        @include breakpoint (md-min) {
            flex-wrap: wrap;
            transition: flex-wrap .4s ease-out;
            margin-right: 0;
            margin-bottom: 20px;
        }

        .header_news-cat {
            font-size: 12px;
            margin-bottom: 2%;

        }

        .header_news-title {
            font-size: 16px;
            margin-bottom: 1%;
        }

        .header_news-descr {
            margin-bottom: 5%;
        }

        .header_news-cat,
        .header_news-title {
            text-transform: uppercase;

        }



        .header_news-btn {
            max-width: 170px;
            // height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #fff;
            border-radius: 20px;
            font-size: 13px;
            text-align: center;
            text-transform: uppercase;
            padding: 5px;
            position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 100000000;

            &:hover {
                color: $maincolor;
                background: #fff;

                transition: background-color .4s, color .4s;


            }

        }

       
        .header_news-left {
            
            width: 35%;
            height: 450px;
            background: linear-gradient(rgba(0, 0, 0, 0.178), rgba(0, 0, 0, 0.068)), linear-gradient(to right, rgba(6, 1, 12, 0.623), rgba(3, 3, 3, 0.171)), url('/wp-content/uploads/banner1.jpg') no-repeat;
            margin-right: 10px;
            background-position: 80%;
            background-size: cover;
            position: relative;
            color: #fff;
            display: flex;
            flex-direction: column;
            padding: 15px;
            border-radius: 4px;
            box-shadow: 0px 4px 4px rgba(159, 159, 159, 0.25);
            border-radius: 10px;
           


            @include breakpoint (md-min) {
                width: 100%;
                height: 280px;
                margin-right: 0;
                margin-bottom: 20px;
                transition: margin-bottom .4s ease-out;
            }



        }

        .header_news-right {
            width: 65%;
            max-height: 450px;
            color: #fff;

            @include breakpoint (md-min) {
                width: 100%;
            }

            .header_news-right-top {
                padding: 15px;
                // border: 2px solid $maincolor;
                border-radius: 4px;
                background: blue;
                display: flex;
                flex-direction: column;
                height: 225px;
                background: linear-gradient(rgba(0, 0, 0, 0.178), rgba(0, 0, 0, 0.068)), linear-gradient(to right, rgba(6, 1, 12, 0.623), rgba(3, 3, 3, 0.171)), url('/wp-content/uploads/banner2.jpg') no-repeat;
                background-size: cover;
                background-position:center;
                margin-bottom: 10px;
                box-shadow: 0px 4px 4px rgba(159, 159, 159, 0.25);
                border-radius: 10px;
                position: relative;

            }

            .header_news-right-bottom {

                display: flex;






                .header_news-right-bottom-r {
                    padding: 10px;
                    // border: 2px solid $maincolor;
                    border-radius: 4px;
                    display: flex;
                    flex-direction: column;
                    height: 215px;
                    width: 50%;
                    background: linear-gradient(rgba(0, 0, 0, 0.178), rgba(0, 0, 0, 0.068)), linear-gradient(to right, rgba(6, 1, 12, 0.623), rgba(3, 3, 3, 0.171)), url('/wp-content/uploads/banner4.jpg') no-repeat;
                    background-size: cover;
                    background-position: 100%;
                    margin-right: 10px;
                    box-shadow: 0px 4px 4px rgba(159, 159, 159, 0.25);
                    border-radius: 10px;
                    position: relative;


                }

                .header_news-right-bottom-l {
                    padding: 10px;
                    // border: 2px solid $maincolor;
                    border-radius: 4px;
                    display: flex;
                    flex-direction: column;
                    height: 215px;
                    width: 50%;
                    background: linear-gradient(rgba(0, 0, 0, 0.178), rgba(0, 0, 0, 0.068)), linear-gradient(to right, rgba(6, 1, 12, 0.623), rgba(3, 3, 3, 0.171)), url('/wp-content/uploads/banner3.jpg') no-repeat;
                    background-size: cover;
                    background-position: 100%;
                    box-shadow: 0px 4px 4px rgba(159, 159, 159, 0.25);
                    border-radius: 10px;
                    position: relative;

                }
            }
        }
    }

}