.header {
    position: fixed;
    width: 100%;
    max-width: 1920px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(159,159,159,0.25);
    max-height: 60px;
    z-index: 1000;

    @import 'searchandmobile';

    nav.navigation {
        padding: 0 30px;
        width: 100%;

        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
           
            
            
            @include breakpoint(md-min) {
                justify-content: space-between;
            }

            li {
                
                
               
                a {
                    position: relative;
                    line-height: 58px;
                    display: block;
                    width: 100%;
                    height: 100%;
                    color: #000;
                    font-family: 'Lato';
                    font-weight: 400;
                    text-transform: uppercase;
                    transition: color .3s ease-out;
                    letter-spacing: .1px;

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        left: -35px;
                        top: 12px;
                        width: 100%;
                        height: 30px;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }

                &.nav_burger {
                    display: none;
                }

                @include breakpoint(md-min) {
                    &.nav_burger {
                        display: block;
                    }
                }

                &:not(.nav_un) {
                    @include breakpoint(md-min) {
                        display: none;
                    }
                    &.logo_nav{
                        flex: 0 0 10%;
                    }
                    &.nav_un {
                        
                       
                    }
                    &.home_nav {
                        a {
                            &:before {
                                background-image: url(../img/home.svg);
                                
                            }
                        }
                    }

                    &.news_nav {
                        a {
                        &:before {
                            background-image: url(../img/news.svg);

                        }
                    }
                    }

                    &.casino_nav {
                        a {
                        &:before {
                            background-image: url(../img/casino.svg);

                        }
                    }
                    }

                    &.games_nav {
                        a {
                        &:before {
                            background-image: url(../img/games.svg);

                        }
                    }
                    }

                    &.bonus_nav {
                        a {
                        &:before {
                            background-image: url(../img/bonus.svg);

                        }
                    }
                    }

                    &.about_nav {
                        a {
                        &:before {
                            background-image: url(../img/about.svg);

                        }
                    }
                    }

                    

                    &:hover,
                    &:active,
                    &:focus {

                        a {
                            color: $maincolor;
                            filter: grayscale(100%);

                        }
                    }

                   
                }
            }
        }
        
    }
}