.main-news {
    width: 100%;
    display: flex;

    @include breakpoint(md-min) {
        flex-direction: column;
        max-height: 100%;

        .main-news_wrapper {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
    .main-news_wrapper {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;

        .main-news_title {
            position: relative;

            .main-news-va_btn {
                color: $maintextcolor;
                position: absolute;
                right: 30px;
                top: 0;
                padding: 5px 10px;
                letter-spacing: .05em;
                text-transform: uppercase;

                &:before {
                    content: '';
                    position: absolute;
                    display: block;
                    bottom: 0;
                    left: 9px;
                    width: 0;
                    height: 1px;
                    background: linear-gradient(90deg, $maincolor2 0%, $maincolor 186.42%);
                }

                &:after {
                    content: '';
                    position: absolute;
                    right: -5px;
                    top: 7px;
                    background: url('../img/arrow.svg');
                    background-size: cover;
                    width: 12px;
                    height: 12px;
                }

                &:hover {
                    &:after {
                        filter: grayscale(100%);
                    }

                    &:before {
                        width: 100%;
                        transition: width .3s;
                    }
                }
            }

            h3 {
                line-height: 32px;
                text-align: left;
                padding-left: 20px;
                text-transform: uppercase;
                color: $maintextcolor;
                letter-spacing: .1em;
            }
        }

        ul {
            display: flex;
            justify-content: stretch;
            flex-wrap: wrap;

            @include breakpoint(xlg-min) {
                &:after {
                    content: '';
                    width: 100%;
                    max-width: 479px;
                    flex: 5%;
                    min-width: 200px;
                }
            }

            @include breakpoint(md-min) {
                flex-wrap: wrap;
            }

            li.main-news_item {
                height: 405px;
                flex: 5%;
                display: flex;
                position: relative;
                margin: 8px 8px 0px 0px;
                @include blockvisual;
                width: 100%;
                max-width: 479px;
                min-width: 200px;
                color: $maintextcolor;

                a {
                    &:hover {
                        box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.7);
                        transition: .3s;

                        .main-news_item-img {
                            &:before {
                                opacity: 0;
                            }
                        }
                    }

                    h4 {
                        margin: 10px 0;
                        padding: 15px 10px;
                        text-transform: uppercase;
                        font-family: $mainfont, sans-serif;
                        overflow: hidden;
                        display: block;
                        display: -webkit-box;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 3;
                        /* количество строк */
                        -webkit-box-orient: vertical;
                    }

                    .main-news_item-img {
                        display: block;
                        max-height: 180px;
                        height: 100%;
                        width: 100%;
                        background-size: cover !important;
                        background-repeat: no-repeat !important;
                        background-position: center !important;
                        position: relative;

                        &:before {
                            content: "";
                            position: absolute;
                            background: #000;
                            transition: opacity .15s ease-out;
                            opacity: .35;
                            display: block;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 0;
                        }
                    }

                    p,
                    .main-news_item-text {
                        text-align: left;
                        padding: 0 10px;
                        line-height: 1.064rem;
                        letter-spacing: .1px;
                        overflow: hidden;
                        display: block;
                        display: -webkit-box;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 4;
                        /* количество строк */
                        -webkit-box-orient: vertical;
                        margin: 0;
                        font-family: $mainfont, sans-serif;
                    }
                }
            }
        }
    }
}