.main-bonus {
    .main-bonus-wrapper {
        display: flex;
        width: 100%;
        @include breakpoint(md-min) {
            max-height: 100%;
            flex-direction: column;
            .top-list-block.top-list-bonus {
                max-width: 100%;
            }
        }
        .main-bonus-list {
            border-radius: 4px;
            position: relative;
            width: 100%;
            @include breakpoint(md-min) {
                margin-right: 0px;
                margin-bottom: 20px;
            }
            .see-all-btn {
                color: $maintextcolor;
                position: absolute;
                right: 30px;
                top: 0;
                padding: 5px 10px;
                letter-spacing: .05em;
                text-transform: uppercase;
                &:before {
                    content: '';
                    position: absolute;
                    display: block;
                    bottom: 0;
                    left: 9px;
                    width: 0;
                    height: 1px;
                    background: linear-gradient(90deg, $maincolor2 0%, $maincolor 186.42%);
                }
                &:after {
                    content: '';
                    position: absolute;
                    right: -5px;
                    top: 7px;
                    background: url('../img/arrow.svg');
                    background-size: cover;
                    width: 12px;
                    height: 12px;
                }
                &:hover {
                    &:after {
                        filter: grayscale(100%);
                    }
                    &:before {
                        width: 100%;
                        transition: width .3s;
                    }
                }
            }
            h3 {
                line-height: 32px;
                text-align: left;
                padding-left: 20px;
                text-transform: uppercase;
                color: $maintextcolor;
                letter-spacing: .1em;
                text-transform: uppercase;
            }
            .main-bonus-list-wrapper {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: stretch;
                    li {
                        display: flex;
                        align-items: center;
                        margin: 8px 8px 0px 0px;
                       @include blockvisual;
                        max-height: 130px;
                        width: 49%;
                        min-width: 320px;
                        &:nth-child(2n+2) {
                            margin-right: 0;
                        }
                        @include breakpoint (xlg99-min) {
                            width: 98%;
                            margin: 5px 10px 0px 0px;
                        }
                        @include breakpoint (lg-min) {
                            margin: 5px 0 0 0;
                        }
                        @include breakpoint (md-min) {
                            width: 100%;
                        }
                        .bonus-list-item-wrapper {
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            justify-content: center;
                            width: 100%;
                        }
                        @include breakpoint(md-min) {
                            margin-left: 0;
                        }
                        img {
                            max-width: 130px;
                            max-height: 130px;
                        }
                        p {
                            max-width: 100%;
                            margin: 0 15px 0 0;
                            padding: 5px;
                            text-align: center;
                            text-transform: uppercase;
                            color: $maintextcolor;
                        }
                        p.bonus-info {
                            color:$maincolor ;
                        }
                        .bonus-list-btn {
                            display: flex;
                            justify-content: center;
                            min-width: 10%;
                            margin-top: 10px;
                            a {
                                width: 100%;
                                width: 100px;
                                margin-right: 10px;
                                background: linear-gradient(90deg, $maincolor 0%, $maincolor2 100%);
                                // border-radius: 40px;
                                line-height: 28px;
                                padding-top: 3px;
                                text-align: center;
                                text-transform: uppercase;
                                color: $secondtextcolor;
                                margin-bottom: 10px;
                                font-size: 12px;
                                &:hover {
                                    background: linear-gradient(90deg, $maincolor2 0%,$maincolor 100% )!important;
                                    
                                    box-shadow: 0px 0px 2px 0px #000;
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
   
}