.main-casino {
    .main-casino-wrapper {
        display: flex;
        width: 100%;
        @include breakpoint(md-min) {
            flex-direction: column;
            max-height: unset;
            .main-casino-list {
                margin-right: 0px;
                margin-bottom: 20px;
            }
            .top-list-block.top-list-casino {
                max-width: 100%;
            }
        }
        .main-casino-list {
            border-radius: 4px;
            position: relative;
            width: 100%;
          
            @include breakpoint(md-min) {
                margin-right: 0px;
                margin-bottom: 20px;
                .top-list-block.top-list-casino {
                    max-width: 100%;
                }
            }
            .see-all-btn {
                color: $maintextcolor;
                position: absolute;
                right: 30px;
                top: 0;
                padding: 5px 10px;
                letter-spacing: .05em;
                text-transform: uppercase;
                &:before {
                    content: '';
                    position: absolute;
                    display: block;
                    bottom: 0;
                    left: 9px;
                    width: 0;
                    height: 1px;
                    background: linear-gradient(90deg, $maincolor2 0%, $maincolor 186.42%);
                }
                &:after {
                    content: '';
                    position: absolute;
                    right: -5px;
                    top: 7px;
                    background: url('../img/arrow.svg');
                    background-size: cover;
                    width: 12px;
                    height: 12px;
                }
                &:hover {
                    &:after {
                        filter: grayscale(100%);
                    }
                    &:before {
                        width: 100%;
                        transition: width .3s;
                    }
                }
            }
            h3 {
                line-height: 32px;
                text-align: left;
                padding-left: 20px;
                text-transform: uppercase;
                color: $maintextcolor;
                letter-spacing: .1em;
                text-transform: uppercase;
            }
            >ul {
                display: flex;
                justify-content: stretch;
                flex-wrap: wrap;
                li {
                    display: flex;
                    align-items: center;
                    margin: 8px 8px 0px 0px;
                   @include blockvisual;
                    max-height: 130px;
                    width: 49%;
                    min-width: 320px;
                    &:nth-child(2n+2) {
                        margin-right: 0;
                    }
                    @include breakpoint (xlg99-min) {
                        width: 98%;
                        margin: 5px 10px 0px 0px;
                    }
                    @include breakpoint (lg-min) {
                        margin: 5px 0 0 0;
                    }
                    @include breakpoint (md-min) {
                        width: 100%;
                    }
                    img {
                        max-width: 130px;
                        max-height: 130px;
                    }
                    .casino-text-btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        width: 100%;
                    }
                    p {
                        margin: 0 10px 20px 10px;
                        padding: 0 10px;
                        text-align: center;
                        width: 100%;
                        text-transform: uppercase;
                        color: $maintextcolor;
                    }
                    .casino-list-btn {
                        display: flex;
                        a {
                            width: 100%;
                            width: 80px;
                            margin-right: 10px;
                            background: linear-gradient(90deg, $maincolor 0%, $maincolor2 100%);
                            line-height: 28px;
                            padding-top: 3px;
                            text-align: center;
                            text-transform: uppercase;
                            color: $secondtextcolor;
                            margin-bottom: 10px;
                            font-size: 12px;
                            &:hover {
                                background: linear-gradient(90deg, $maincolor2 0%,$maincolor 100% );
                                
                                box-shadow: 0px 0px 2px 0px #000;
                                
                            }
                        }
                    }
                }
            }
        }
    }
}