.news_page-wrapper {
    display: flex;

    @include breakpoint (md-min) {
        flex-direction: column;


    }

    .news-wrapper {
        display: flex;
        height: 100%;
        justify-content: stretch;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 5px;
        width: 100%;
        position: relative;

        &:after {
            content: '';
            position: relative;
            width: 50%;
            height: 0;
            display: block;


        }

        .news-item {
            width: 100%;
            min-width: 200px;
    max-width: 370px;
            flex: 15%;
            margin-right: 10px;
            margin-bottom: 10px;




            @include breakpoint (ld-min) {
                max-width: 100%;
            }


            .news-item-wrapper {
               @include blockvisual;
                min-height: 350px;

                .news-item-img {
                    
                    display: flex;
                    justify-content: center;
                    background-size: cover !important;
                    background-repeat: no-repeat !important;
                    background-position: center !important;
                    
                    height: 150px;

                    img {
                        display: block;
                        max-height: 180px;
                        max-width: 250px;
                        width: 100%;
                        border: 1px solid $maincolor2;
                        border-top: 1px solid $maincolor;  
                        border-bottom:1px solid $maincolor;
                    }
                }

                .news-item-title {
                    padding: 10px;

                    h2 {

                        font-size: 15px;
                        font-weight: 900;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        color: $maintextcolor;


                    }
                }

                .news-item-desc {
                    min-height: 100px;

                    p {
                        margin: 0;
                        text-align: left;
                        padding: 0 10px;
                        max-height: 95px;
                        line-height: 1.2rem;
                        overflow: hidden;
                        color: $maintextcolor;
                        font-size: 14px;
                    }
                }

                .news-item-btns {
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 10px;

                    a {
                        margin: 10px;
                        font-size: 12px;
                        padding: 8px;
                        width: 100%;
                        // max-width: 100px;
                        display: block;
                        outline: none;
                        cursor: pointer;
                       
                        width: 100%;
                        text-align: center;
                        text-transform: uppercase;
                        color: $secondtextcolor;
                        line-height: 14px;
                        background: linear-gradient(90deg, $maincolor 0%, $maincolor2 100%);

                        &:hover {
                            background: linear-gradient(90deg,$maincolor2 0% ,$maincolor 100%);
                        }
                    }

                }
            }
        }
    }

    
}