.search-form {
    position: relative;
    height: 57px;
    .search-btn {
        border: none;
        outline: 0;
        cursor: pointer;
        height: 100px;
        width: 70px;
        position: relative;
        background: none;
        &:hover {
            
            &:before {
                border: 1px solid #A154F2;
            }
        }
        &:before {
            content: "";
            position: absolute;
            width: 34px;
            height: 34px;
            background: url(../img/bbsearch.svg) no-repeat;
            background-size: cover;
            background-size: 50%;
            background-position: 9px;
            margin: 0 auto;
            top: 34px;
            left: 20px;
            border: 1px solid #fff;
            border-radius: 50%;
        }
    }
    .search-text {
        position: absolute;
        right: 0;
        bottom: -41px;
        display: none;
        border: 1px solid #e2e2e2;
        padding: 10px;
    }
    .show-search {
        display: block;
    }
}

.search-wrapp {
    position: absolute;
    right: 0;
    display: none;
    z-index: 1001;
    .search-text {
        padding: 10px 25px 10px 5px;
        font-size: 16px;
    }
    .search-text-sbmt {
        position: absolute;
        top: 12px;
        right: 10px;
        background: url(../img/search.svg) no-repeat;
        background-size: cover;
        height: 16px;
        width: 16px;
        border: none;
        cursor: pointer;
    }
}

.show-search {
    display: block;
    position: fixed;
    left: 0;
    top: 100px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 1111;
}

.search-results {
    .page-header {
        margin: 20px 0;
        .page-title {
            span {
                font-family: 'Circe-Exbold';
            }
        }
    }
    .site-main {
        padding: 10px;
        article {
            margin: 50px 0;
            header {
                h2 {
                    font-family: 'Circe-Exbold';
                    margin: 10px 0;
                    a {
                        font-size: 24px;
                    }
                }
                .entry-meta {
                    margin: 10px 0;
                }
            }
            .post-thumbnail {
                img {
                    display: block;
                    width: 50%;
                    height: 50%;
                }
            }
            .entry-summary {
                line-height: 1.56;
                margin: 10px 0;
            }
            .entry-footer {
                span {
                    margin-right: 10px;
                }
            }
        }
    }
}

.mobile-menu {
    @include breakpoint(md-min) {
        display: block;
    }
    display: none;
    .burger-btn {
        border: none;
        outline: 0;
        cursor: pointer;
        height: 100px;
        width: 80px;
        position: relative;
        display: block;
        background: #30363D;
        &:hover {
            transition: background .3s ease;
            background: #3C444C;
        }
        &:active {
            background: #3C444C;
            transition: background .3s ease;
        }
        &:before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            background: url(//www.bitcoinbuster.com/wp-content/themes/bitcoin/css/../img/hamburger.svg) no-repeat;
            background-size: cover;
            margin: 0 auto;
            top: 40px;
            left:30px;
        }
    }
}

.mobile-nav {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    margin-top: unset;
    z-index: -1;
    transition: margin-top .5s;
    background: rgba(60,68,76,.95);
    border: 2px solid #30363D;
    ul {
        li {
            height: 50px;
            border-bottom: 2px solid #30363D;
            &:hover {
                background: rgba(48,54,61,.95);
            }
            a {
                display: block;
                width: 100%;
                height: 100%;
                text-transform: uppercase;
                text-align: center;
                color: #CBCFD4;
                text-shadow: #000 1px 1px 1px;
                line-height: 50px;
            }
        }
    }
}