* {
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    box-sizing: border-box;
    background: #30363D;
    &.no-scroll {
        overflow: hidden;
    }
}

section {
    &:not(:first-child) {
        margin-top: 20px;
    }
}

button {
    font-family: 'Rubik';
    font-weight: 400;
    letter-spacing: 0.05em;
    font-size: 14px;
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    mix-blend-mode: normal;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 0.05em;
    font-size: 14px;
    text-decoration: none;
    color: inherit;
}

.wrapper {
    background: #30363D;
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.collapse_btn {
    $maincolor: #930000!global;
    color: $maincolor;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 10px;
    border-radius: 4px;
    border: 2px solid $maincolor;
    text-shadow: #000 1px 1px 1px;
    letter-spacing: .05em;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
        color: #fff;
        background-color: grey;
        transition: color .4s ease-out;
        transition: background-color .4s ease-out;
    }
}

.common-article {
    position: relative;
    .common-article_wrapper {
        background: #fff;
        box-shadow: 0px 2px 4px rgba(159, 159, 159, 0.25);
        border-radius: 10px;
        transition: box-shadow .4s ease-out;
        border-radius: 4px;
        position: relative;
    }
    .collapse_btn {
        color: $maincolor;
        background-color: #fff;
        position: absolute;
        right: 0;
        top: 0;
        padding: 5px 10px;
        border-radius: 4px;
        border: 2px solid $maincolor;
        text-shadow: #000 1px 1px 1px;
        letter-spacing: .05em;
        text-transform: uppercase;
        cursor: pointer;
        display: none;
        &:hover {
            color: #fff;
            background-color: grey;
            transition: color .4s ease-out;
            transition: background-color .4s ease-out;
        }
    }
    h3.common-article_title {
        background: $maincolor;
        border-radius: 10px 10px 0px 0px;
        line-height: 32px;
        text-align: left;
        padding: 12px;
        text-transform: uppercase;
        color: #fff;
        text-shadow: #000 1px 1px 1px;
        letter-spacing: .1em;
        text-transform: uppercase;
        text-align: center;
    }
    h4 {
        margin: 10px 0;
    }
    ul {
        li {
            padding: 5px;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
        }
    }
}

//Underheader!!!!!!!!!!!
.anchor-header {
    display: none;
    min-height: 30px;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    // left: 3%;
    left: 0;
    transition: top 1s;
    width: 100%;
    z-index: 999;
    border: 2px solid $maincolor;
    border-top: none;
    box-shadow: 0 0 10px #000;
    border-radius: 4px;
    top: 0;
    @include breakpoint(xlg-min) {
        left: 0;
        width: 100%;
    }
    &.fixed {
        position: fixed;
        top: 50px;
    }
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 30px;
        li {
            margin: 0 10px;
            @include breakpoint(ld-min) {
                margin: 0 5px;
                font-size: 12px;
            }
            @include breakpoint(sm-min) {
                font-size: 11px;
            }
            a {
                &:hover,
                &:active,
                &:focus {
                    text-decoration: underline;
                }
            }
        }
    }
}

.top-list-block.top-list-casino {
    background: #3C444C;
    mix-blend-mode: normal;
    box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0!important;
    position: relative;
    max-height: 450px;
    max-width: 400px;
    min-width: 400px;
    width: 100%;
    @include breakpoint(md-min) {
        width: 100%;
        max-width: 100%;
    }
    h3 {
        background: linear-gradient(90deg, rgba(161, 84, 242, 0) 0%, #A154F2 0.01%, #F27A54 100%);
        border-radius: 0!important;
        line-height: 32px;
        text-align: left;
        padding: 12px;
        text-transform: uppercase;
        color: #fff;
        text-shadow: #000 1px 1px 1px;
        letter-spacing: .1em;
        text-transform: uppercase;
        text-align: center;
    }
    ul {
        display: flex;
        flex-direction: column;
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 9px 0;
            text-transform: uppercase;
            text-align: center;
            color: #CBCFD4;
            img {
                width: 45px;
                height: 45px;
                margin: 1px 10px;
            }
            .casino-top-title {
                width: 40%;
                margin: 0 10px;
                position: relative;
                &:hover {
                    text-decoration: underline;
                }
            }
            .casino-top-btn {
                width: 100%;
                max-width: 120px;
                margin-right: 10px;
                border: none!important;
                box-shadow: 0px 0px 1px 1px #CBCFD4;
                background: linear-gradient(90deg, #A154F2 0%, #F27A54 100%)!important;
                border-radius: 40px;
                line-height: 28px;
                padding-top: 3px;
                text-align: center;
                text-transform: uppercase;
                color: #fff;
                &:hover {
                    background: #fff!important;
                    color: $maincolor;
                    box-shadow: 0px 0px 2px 0px #000;
                    transition: .1s;
                }
            }
        }
    }
}

a#scroll-to-top {
    z-index: 99999;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
}